In [1]:
import pickle

# Function to load the .pkl file and save as a .txt file
def convert_pkl_to_txt(pkl_file, txt_file):
    try:
        # Load the .pkl file
        with open(pkl_file, 'rb') as f:
            data = pickle.load(f)
        
        # Write data to .txt file
        with open(txt_file, 'w') as f:
            if isinstance(data, (list, dict)):
                # Convert list or dict to string and write
                f.write(str(data))
            elif isinstance(data, pd.DataFrame):
                # Write DataFrame to txt in tabular format
                data.to_csv(f, sep='\t', index=False)
            else:
                # Default write for other data types
                f.write(str(data))
        
        print(f"Data successfully written to {txt_file}")
    except Exception as e:
        print(f"Error: {e}")

Data successfully written to train_Zwalm.txt

In [5]:
import pickle
import pandas as pd

# Function to load a .pkl file and convert it to a Pandas DataFrame
def pkl_to_dataframe(pkl_file):
    try:
        # Load the .pkl file
        with open(pkl_file, 'rb') as f:
            data = pickle.load(f)
        
        # Convert the data to a Pandas DataFrame
        if isinstance(data, pd.DataFrame):
            df = data  # If it's already a DataFrame
        else:
            df = pd.DataFrame(data)  # Attempt to convert to a DataFrame
        
        print("Data successfully converted to a DataFrame.")
        return df
    except Exception as e:
        print(f"Error: {e}")
        return None

In [13]:
# Example usage
pkl_file = 'per_basin_train_periods_EU.pkl'  # Replace with your .pkl file path
df = pkl_to_dataframe(pkl_file)
print(df)

if 6 in df.columns:
    print(df[6])
else:
    print("Column '6' is not found in the DataFrame.")

Data successfully converted to a DataFrame.
                                 6               10026301  \
start_dates  [1972-06-30 00:00:00]  [1972-06-30 00:00:00]
end_dates    [2012-11-24 00:00:00]  [2012-11-24 00:00:00]

                          10035801               10039802  \
start_dates  [1972-06-30 00:00:00]  [1972-06-30 00:00:00]
end_dates    [2012-11-24 00:00:00]  [2012-11-24 00:00:00]

                          10046105               10053009  \
start_dates  [1972-06-30 00:00:00]  [1972-06-30 00:00:00]
end_dates    [2012-11-24 00:00:00]  [2012-11-24 00:00:00]

                          10062000               10078000  \
start_dates  [1972-06-30 00:00:00]  [1972-06-30 00:00:00]
end_dates    [2012-11-24 00:00:00]  [2012-11-24 00:00:00]

                          10088003                    105  ...  \
start_dates  [1972-06-30 00:00:00]  [1972-06-30 00:00:00]  ...
end_dates    [2012-11-24 00:00:00]  [2012-11-24 00:00:00]  ...

                               403                  47834  \
start_dates  [1972-06-30 00:00:00]  [1972-06-30 00:00:00]
end_dates    [2012-11-24 00:00:00]  [2012-11-24 00:00:00]

                             47840                  76175  \
start_dates  [1972-06-30 00:00:00]  [1972-06-30 00:00:00]
end_dates    [2012-11-24 00:00:00]  [2012-11-24 00:00:00]

                             76176                  76184  \
start_dates  [1972-06-30 00:00:00]  [1972-06-30 00:00:00]
end_dates    [2012-11-24 00:00:00]  [2012-11-24 00:00:00]

                             76185                  76266  \
start_dates  [1972-06-30 00:00:00]  [1972-06-30 00:00:00]
end_dates    [2012-11-24 00:00:00]  [2012-11-24 00:00:00]

                             76276                  76290
start_dates  [1972-06-30 00:00:00]  [1972-06-30 00:00:00]
end_dates    [2012-11-24 00:00:00]  [2012-11-24 00:00:00]

[2 rows x 860 columns]
Column '6' is not found in the DataFrame.

In [14]:
# Example usage
pkl_file = 'per_basin_validation_periods_EU.pkl'  # Replace with your .pkl file path
df = pkl_to_dataframe(pkl_file)
print(df)

Data successfully converted to a DataFrame.
                                 6               10026301  \
start_dates  [2012-11-25 00:00:00]  [2012-11-25 00:00:00]
end_dates    [2017-12-14 00:00:00]  [2022-12-31 00:00:00]

                          10035801               10039802  \
start_dates  [2012-11-25 00:00:00]  [2012-11-25 00:00:00]
end_dates    [2022-12-31 00:00:00]  [2022-12-31 00:00:00]

                          10046105               10053009  \
start_dates  [2012-11-25 00:00:00]  [2012-11-25 00:00:00]
end_dates    [2022-12-31 00:00:00]  [2022-12-31 00:00:00]

                          10062000               10078000  \
start_dates  [2012-11-25 00:00:00]  [2012-11-25 00:00:00]
end_dates    [2022-12-31 00:00:00]  [2022-12-31 00:00:00]

                          10088003                    105  ...  \
start_dates  [2012-11-25 00:00:00]  [2012-11-25 00:00:00]  ...
end_dates    [2022-12-31 00:00:00]  [2022-12-31 00:00:00]  ...

                               403                  47834  \
start_dates  [2012-11-25 00:00:00]  [2012-11-25 00:00:00]
end_dates    [2022-12-31 00:00:00]  [2022-12-31 00:00:00]

                             47840                  76175  \
start_dates  [2012-11-25 00:00:00]  [2012-11-25 00:00:00]
end_dates    [2022-12-31 00:00:00]  [2022-12-31 00:00:00]

                             76176                  76184  \
start_dates  [2012-11-25 00:00:00]  [2012-11-25 00:00:00]
end_dates    [2022-12-31 00:00:00]  [2022-12-31 00:00:00]

                             76185                  76266  \
start_dates  [2012-11-25 00:00:00]  [2012-11-25 00:00:00]
end_dates    [2022-12-31 00:00:00]  [2022-12-31 00:00:00]

                             76276                  76290
start_dates  [2012-11-25 00:00:00]  [2012-11-25 00:00:00]
end_dates    [2022-12-31 00:00:00]  [2022-12-31 00:00:00]

[2 rows x 860 columns]

In [18]:
# Example usage
pkl_file = 'train_Zwalm.pkl'  # Replace with your .pkl file path
df = pkl_to_dataframe(pkl_file)
print(df)

Data successfully converted to a DataFrame.
                                 6
start_dates  [2017-12-15 00:00:00]
end_dates    [2022-12-31 00:00:00]

In [19]:
# Example usage
pkl_file = 'per_basin_train_periods_US.pkl'  # Replace with your .pkl file path
df = pkl_to_dataframe(pkl_file)
print(df)

if 6 in df.columns:
    print(df[6])
else:
    print("Column '6' is not found in the DataFrame.")

Data successfully converted to a DataFrame.
                                 6               91013500  \
start_dates  [1972-06-30 00:00:00]  [1972-06-30 00:00:00]
end_dates    [2012-11-24 00:00:00]  [2012-11-24 00:00:00]

                          91022500               91030500  \
start_dates  [1972-06-30 00:00:00]  [1972-06-30 00:00:00]
end_dates    [2012-11-24 00:00:00]  [2012-11-24 00:00:00]

                          91031500               91047000  \
start_dates  [1972-06-30 00:00:00]  [1972-06-30 00:00:00]
end_dates    [2012-11-24 00:00:00]  [2012-11-24 00:00:00]

                          91052500               91054200  \
start_dates  [1972-06-30 00:00:00]  [1972-06-30 00:00:00]
end_dates    [2012-11-24 00:00:00]  [2012-11-24 00:00:00]

                          91055000               91057000  ...  \
start_dates  [1972-06-30 00:00:00]  [1972-06-30 00:00:00]  ...
end_dates    [2012-11-24 00:00:00]  [2012-11-24 00:00:00]  ...

                          14303200               14305500  \
start_dates  [1972-06-30 00:00:00]  [1972-06-30 00:00:00]
end_dates    [2012-11-24 00:00:00]  [2012-11-24 00:00:00]

                          14306340               14306500  \
start_dates  [1972-06-30 00:00:00]  [1972-06-30 00:00:00]
end_dates    [2012-11-24 00:00:00]  [2012-11-24 00:00:00]

                          14308990               14309500  \
start_dates  [1972-06-30 00:00:00]  [1972-06-30 00:00:00]
end_dates    [2012-11-24 00:00:00]  [2012-11-24 00:00:00]

                          14316700               14325000  \
start_dates  [1972-06-30 00:00:00]  [1972-06-30 00:00:00]
end_dates    [2012-11-24 00:00:00]  [2012-11-24 00:00:00]

                          14362250               14400000
start_dates  [1972-06-30 00:00:00]  [1972-06-30 00:00:00]
end_dates    [2012-11-24 00:00:00]  [2012-11-24 00:00:00]

[2 rows x 672 columns]
Column '6' is not found in the DataFrame.

In [20]:
# Example usage
pkl_file = 'per_basin_validation_periods_US.pkl'  # Replace with your .pkl file path
df = pkl_to_dataframe(pkl_file)
print(df)

Data successfully converted to a DataFrame.
                                 6               91013500  \
start_dates  [2012-11-25 00:00:00]  [2012-11-25 00:00:00]
end_dates    [2017-12-14 00:00:00]  [2022-12-31 00:00:00]

                          91022500               91030500  \
start_dates  [2012-11-25 00:00:00]  [2012-11-25 00:00:00]
end_dates    [2022-12-31 00:00:00]  [2022-12-31 00:00:00]

                          91031500               91047000  \
start_dates  [2012-11-25 00:00:00]  [2012-11-25 00:00:00]
end_dates    [2022-12-31 00:00:00]  [2022-12-31 00:00:00]

                          91052500               91054200  \
start_dates  [2012-11-25 00:00:00]  [2012-11-25 00:00:00]
end_dates    [2022-12-31 00:00:00]  [2022-12-31 00:00:00]

                          91055000               91057000  ...  \
start_dates  [2012-11-25 00:00:00]  [2012-11-25 00:00:00]  ...
end_dates    [2022-12-31 00:00:00]  [2022-12-31 00:00:00]  ...

                          14303200               14305500  \
start_dates  [2012-11-25 00:00:00]  [2012-11-25 00:00:00]
end_dates    [2022-12-31 00:00:00]  [2022-12-31 00:00:00]

                          14306340               14306500  \
start_dates  [2012-11-25 00:00:00]  [2012-11-25 00:00:00]
end_dates    [2022-12-31 00:00:00]  [2022-12-31 00:00:00]

                          14308990               14309500  \
start_dates  [2012-11-25 00:00:00]  [2012-11-25 00:00:00]
end_dates    [2022-12-31 00:00:00]  [2022-12-31 00:00:00]

                          14316700               14325000  \
start_dates  [2012-11-25 00:00:00]  [2012-11-25 00:00:00]
end_dates    [2022-12-31 00:00:00]  [2022-12-31 00:00:00]

                          14362250               14400000
start_dates  [2012-11-25 00:00:00]  [2012-11-25 00:00:00]
end_dates    [2022-12-31 00:00:00]  [2022-12-31 00:00:00]

[2 rows x 672 columns]